<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaIngresso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
</head>
<body>
    <div class="nav">
        <img class="logo" src="{{ url_for('static', filename='img/logo.jpeg') }}">
        <div>
            <button class="BtnCadastrar" onclick="location.href='/'">Criar Conta</button>
            <button class="BtnEntrar">Entrar</button>
        </div>
    </div>

    <div class="main">
        <div class="divFormLogin">
            <h1 class="LabelLoginTitulo">Login</h1>
            <form class="FormCadastro" action="/login" method="POST">
                <label for="email">Email</label>
                <br>
                <input id="email" name="email" class="InputFormLogin" type="email" required/>
                <br>
                <label for="senha">Senha</label>
                <br>
                <input id="senha" name="senha" class="InputFormLogin" type="password" required/>
                <br>
                <div class="divBtnLimparEnviar">
                    <button type="button" class="BtnLimpar" onclick="document.querySelector('.FormCadastro').reset();">Limpar</button>
                    <input class="BtnLogin" type="submit" value="Entrar">
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
