body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #414141;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1rem;
}

.logo {
    width: 5rem;
    max-width: 100%;
}

.BtnCadastrar, .BtnEntrar {
    background-color: #66B766;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

.BtnCadastrar:hover, .BtnEntrar:hover {
    background-color: #539653;
    border-radius: 1rem;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: auto;
    padding: 2rem;
}

.divFormLogin {
    background-color: #00000042;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px black;
    width: 90%;
    max-width: 400px;
}

label {
    margin: 0.5rem 0;
}

.InputFormLogin {
    border: none;
    outline: none;
    margin: 1rem 0;
    box-shadow: 0 4px rgb(255, 255, 255);
    background-color: #44444400;
    color: white;
    width: 100%;
    padding: 0.5rem;
}

.BtnLimpar, .BtnLogin {
    margin: 1rem;
    background-color: #66B766;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

.BtnLimpar:hover, .BtnCadastra:hover {
    background-color: #539653;
    border-radius: 1rem;
}

.divBtnLimparEnviar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .divFormLogin{
        width: 95%;
    }
}
