body {
    margin: 0;
    padding: 0;
    background-color: #414141;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1rem;
}

.logo, #UsuarioIcon {
    max-width: 50px;
    height: auto;
    cursor: pointer;
}

.UsuarioMenuIcon {
    position: relative;
}

.UsuarioMenu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    border: 1px solid #53D007;
    border-radius: 5px;
    z-index: 1000;
}

.UsuarioMenuBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
}

.UsuarioMenuBtn:hover {
    background-color: #53D007;
}

#DivBtnVoltar {
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

#BtnVoltar {
    background-color: #5c9b35;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 15%;
    padding: 10px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}

#BtnVoltar:hover {
    background-color: #46a30b;
    border-radius: 1rem;
}

#TituloFilme {
    padding: 2rem;
    font-size: 2.5rem;
}

#DivInfoPoltrona {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

#BtnConfirmar {
    background-color: #46a30b;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 15%;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

#BtnConfirmar:hover {
    background-color: #33551d;
    border-radius: 1rem;
}

#tipoFilme, #LabelQtPoltrona, #LabelValorTotalPoltrona {
    background-color: #33551d;
    padding: 1rem;
    border-radius: 0.5rem;
}

#DivDetalheSessao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #48683c;
    border-radius: 0.5rem;
    margin: 2rem;
    font-size: 1.5rem;
}

#DivPosicaoPoltronaA,  #DivPosicaoPoltronaB, #DivPosicaoPoltronaC, #DivPosicaoPoltronaD, #DivPosicaoPoltronaNumero, #DivTela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que os círculos se reorganizem em telas menores */
}

.circuloPoltrona {
    padding: 1rem;
    margin: 1.3rem;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.circuloPoltrona:hover {
    background-color: #66ff00;
}

.circuloPoltrona.selecionada {
    background-color: #66ff00;
}

.NumeroPosicaoPoltrona {
    padding: 1rem;
    margin: 0.93rem;
}

#LabelTela {
    background-color: #48683c;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 60%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

#DivSessaoPoltronaDetalhe, #DivTela {
    background-color: #252525;
    margin: 2rem;
    border-radius: 0.5rem;
}

/* Tornando o layout responsivo para dispositivos menores */

@media (max-width: 1197px) {
    .circuloPoltrona {
        padding: 1rem;
        margin: 1rem;
    }

    .NumeroPosicaoPoltrona {
        padding: 1rem;
        margin: 0.6rem;
    }
}

@media (max-width: 1058px) {
    .circuloPoltrona {
        padding: 0.8rem;
        margin: 1rem;
    }

    .NumeroPosicaoPoltrona {
        padding: 0.8rem;
        margin: 0.6rem;
    }
}

@media (max-width: 953px) {
    .circuloPoltrona {
        padding: 0.6rem;
        margin: 1rem;
    }

    .NumeroPosicaoPoltrona {
        padding: 0.8rem;
        margin: 0.4rem;
    }
} 

@media (max-width: 855px) {
    .circuloPoltrona {
        padding: 0.4rem;
        margin: 1rem;
    }

    .NumeroPosicaoPoltrona {
        padding: 0.6rem;
        margin: 0.4rem;
    }
}

@media (max-width: 712px) {
    .circuloPoltrona {
        padding: 0.2rem;
        margin: 1rem;
    }

    .NumeroPosicaoPoltrona {
        padding: 0.4rem;
        margin: 0.4rem;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #DivBtnVoltar, #DivInfoPoltrona {
        flex-direction: column;
        align-items: flex-start;
    }

    #BtnVoltar, #BtnConfirmar {
        width: 100%;
        margin-top: 1rem;
    }

    #DivDetalheSessao {
        flex-direction: column;
        font-size: 1.2rem;
    }

    #LabelTela {
        width: 90%;
    }
}

/* Para dispositivos muito pequenos, como smartphones */
@media (max-width: 480px) {
    #TituloFilme {
        font-size: 1.8rem;
        padding: 1rem;
    }

    #BtnVoltar, #BtnConfirmar {
        padding: 0.8rem;
    }

    .circuloPoltrona {
        padding: 0.3rem;
        margin: 0.3rem;
    }

    .NumeroPosicaoPoltrona {
        padding: 0.3rem;
        margin: 0.3rem;
    }

    #LabelTela {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    #DivDetalheSessao {
        font-size: 1rem;
    }
}

@media (max-width: 479px) {
    .NumeroPosicaoPoltrona {
        padding: 0.1rem;
        margin: 0.13rem;
    }
}

@media (max-width: 380px) {
    .LetraFileiraPoltrona {
        padding: 0.01rem;
        margin: 0.01rem;
    }

    .circuloPoltrona {
        padding: 0.3rem;
        margin: 0.2rem;
    }

    .NumeroPosicaoPoltrona {
        padding: 0.1rem;
        margin: 0.02rem;
    }
}

@media (max-width: 330px) {
    .LetraFileiraPoltrona {
        padding: 0.01rem;
        margin: 0.01rem;
    }

    .circuloPoltrona {
        padding: 0.3rem;
        margin: 0.1rem;
    }

    .NumeroPosicaoPoltrona {
        padding: 0.01rem;
        margin: 0.01rem;
    }
}