body {
    margin: 0;
    padding: 0;
    background-color: #414141;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1rem;
}

.logo, #UsuarioIcon {
    max-width: 50px;
    height: auto;
    cursor: pointer;
}

.UsuarioMenuIcon {
    position: relative;
}

.UsuarioMenu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    border: 1px solid #53D007;
    border-radius: 5px;
    z-index: 1000;
}

.UsuarioMenuBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
}

.UsuarioMenuBtn:hover {
    background-color: #53D007;
}

#DivBtnVoltar {
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

#BtnVoltar {
    background-color: #5c9b35;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 15%;
    padding: 10px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}

#BtnVoltar:hover {
    background-color: #46a30b;
    border-radius: 1rem;
}

#LabelSessaoFilme {
    text-align: center;
}

#DivSessoesFilme {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    max-height: 400px;
}

.DivSessaoFilme {
    background-color: #508d29;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.DivSessaoFilme:hover {
    background-color: #57af20;
}

.DivSessaoFilme.selected {
    background-color: #70ce36;
    border: 2px solid #62ff00;
}

#DivBtnContinuar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#BtnContinuar {
    background-color: #5c9b35;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 25%;
    padding: 10px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}

#BtnContinuar:hover {
    background-color: #46a30b;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    #DivSessoesFilme {
        grid-template-columns: repeat(2, 1fr);
    }

    #BtnVoltar, #BtnContinuar {
        width: 40%;
    }
}

@media (max-width: 480px) {
    #DivSessoesFilme {
        grid-template-columns: 1fr;
    }

    #BtnVoltar, #BtnContinuar {
        width: 80%;
    }
}
